# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml

# Streamlit
.streamlit/
